*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --dark-color: #333446;
    --light-color: #FFFFFF;
    --primary-color: #7F8CAA;
    --secondary-color: #B8CFCE;
    --highlight-color: #FE7743;
}

.bordered{
    border: 1px solid red;
}
.hovered-light:hover{
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}
.hovered-dark:hover{
    color: var(--primary-color);
    transition: 0.3s ease-in-out;
}
.hovered-button:hover{
    color: var(--light-color);
    background-color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}

.slide-right{
    animation: slide-right 0.5s ease forwards;
}
@keyframes slide-right {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
.slide-left{
    animation: slide-left 0.5s ease forwards;
}
@keyframes slide-left {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}